@use 'mixins' as *;

#productSection {
  background-color: lightgrey;
  border: solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  padding: 2rem;
  align-items: center;

  #showProducts {
    @include btn(lightgreen);
  }

  .create-btn {
    @include btn(yellow);
  }
}

#productList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.productContainer {
  border: solid black;
  background-color: lightgreen;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;

  .update-btn {
    @include btn(plum);
  }

  .remove-btn {
    @include btn(lightcoral);
  }
}
