* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;

  #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .input {
      border-radius: 1rem;
      margin: 0 1rem;
      padding: 0.5rem;
    }

    button {
      font-weight: bold;
      border-radius: 1rem;
      padding: 1rem;
      cursor: pointer;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
